@font-face {
  font-family: "Luna";
  src: url("../fonts/Luna.ttf"); /* IE9 Compat Modes */
  src: url("../fonts/Luna.ttf") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/Luna.ttf") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Luna.ttf") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/Luna.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Luna.ttf") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Fofer";
  src: url("../fonts/Fofer.otf"); /* IE9 Compat Modes */
  src: url("../fonts/Fofer.otf") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/Fofer.otf") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Fofer.otf") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/Fofer.otf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Fofer.otf") format("svg"); /* Legacy iOS */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0%;
  margin: 0%;
  color: #281a42;
  text-align: center;
  // font-family: 'Luna', Fallback, sans-serif;
  line-height: 1.5;
}

h1 {
  font-family: "Fofer", Fallback, sans-serif;
  font-size: 60px;
}

.App {
  text-align: center;
  height: 100%;
  background-image: url("../images/aethetic-purple.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5%;
  min-height: 100vh;
}
.story-container {
  .story {
    margin-top: 2%;
    margin-bottom: 25px;
    text-align: left;
    background-color: #67397b;
    padding: 5% 2%;
    border-radius: 15px;
    color: #fff;
    width: 100%;

    .col-md-6 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      h5 {
        color: #fff;
      }
    }
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.recorder-mic {
  width: 100%;
}

.image-container {
  position: absolute;
  width: 200px;
  right: 5%;
}

.auto-play-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;

  > * {
    margin-bottom: 5px;
  }
}
